<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>

      #banner{
        height: 520x;
        width: 100%;
      }
    </style>
    <title>Carrire Page</title>
  </head>
  <body>

    <div id="container" class="px-2 ms-1">
        <h1>Carrier Page</h1>
        <!-- <img  src="img1.jpg" id="banner" class="img-fluid" alt=""> -->
        <img src="/static/img1.jpg" id="banner" class="img-fluid" alt="" width="100" height="100">
        <h2 class="text-center">About Us</h2>
        <p class="lead fs-6">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit
          consectetur sit commodi necessitatibus nesciunt veniam ad sint, iusto
          esse, hic quia libero repellendus fugiat nostrum quidem perspiciatis
          dignissimos odio error? Veritatis, laborum omnis. Neque eaque cumque
          possimus aliquid esse consequuntur porro, at exercitationem accusamus
          blanditiis doloremque, veritatis incidunt aut voluptatum eveniet nostrum
          qui perferendis dolor? Corporis molestias soluta reprehenderit porro?
        </p>
          
  </div>
  <div id="container" class="p-3 ms-1">
    <h2 class="text-center">Job Openings</h2>

        {% for job in jobs %}

        {% include 'jobItem.html' %}

        {% endfor %}
    
  </div>

    <div class="text-center mt-4">
      <button class="btn btn-primary btn-lg">Cotact Us</button>
    </div>

  </body>
</html>
